body {
    background: #fafafa;
    color: #111111;
    padding-top: 138px;
    padding-bottom: 138px;
    font-family: 'Roboto';
}

main > .container {
    max-width: 955px;
}

.main-title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 91px;
    letter-spacing: -1px;
}

.main-title span {
    font-size: 80px;
    line-height: 89.6px;
}

.slogan {
    margin-bottom: 64px;
    width: 100%;
}

.slogan + a {
    display: block;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 19.2px;
    color: #979797;
    text-decoration: none;
}

.signs {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: initial;
}

.signs span {
    font-size: 40px;
    font-weight: 500;
    display: block;
    margin-bottom: 0;
    line-height: initial;
    margin-top: -8px;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    line-height: 30px;
}

p {
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 30px;
}

input,
select {
    border-radius: 5px;
    border: solid 1px #979797;
    height: 45px;
    background: transparent;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('../img/arrow.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center;
}

select:disabled {
    color: #979797;
}

::placeholder {
    color: #979797;
}

.input-group {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: solid 1px #979797;
    margin-bottom: 10px;
}

.input-group input {
    border: none;
    border-bottom: solid 1px #979797;
    border-radius: 0;
    margin: 0;
}

.input-group input:last-child {
    border-bottom: none;
}

.input-group.strong {
    border-color: #111111;
}

.input-group.strong input {
    border-color: #111111;
}

input.strong, select.strong {
    border-color: #111111;
}

/* /////////////////////////////// */

.round {
    position: relative;
    width: 32px;
    height: 32px;
    top: 4px;
}

.round label {
    background-color: transparent;
    border: 1px solid #979797;
    border-radius: 50%;
    cursor: pointer;
    height: 18px;
    left: 0;
    position: absolute;
    top: 0;
    width: 18px;
}

.round input + label::after {
    content: ' ';
    height: 8px;
    left: 4px;
    opacity: 0;
    position: absolute;
    top: 4px;
    width: 8px;
    background: #111111;
    border-radius: 100%;
}

.round input {
    visibility: hidden;
}

.round input:checked + label::after {
    opacity: 1 !important;
}

.subscribe {
    margin-top: 30px;
    display: flex;
}

.subscribe p {
    font-size: 13px;
    Line-height: 19.2px;
    font-weight: 500;
}

.column-1 {
    flex: 0 0 auto;
    width: 603px;
}

.column-1 + .col {
    padding-left: 46px;
}

.sign-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #111111;
    color: #FAFAFA;
    width: 100%;
    height: 48px;
    font-size: 16px;
    line-height: 16px;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 21px;
    outline: none;
    border: none;
}

.sign-btn:hover {
    color: #FAFAFA;
}

.sign-btn img {
    margin-top: -2px;
    margin-right: 17px;
}

.policies {
    color: #979797;
    font-size: 13px;
    line-height: 19.2px;
}

.policies a {
    color: #979797;
}

.thanks-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 25.2px;
    text-align: center;
    margin-bottom: 52px;
}

.btn {
    border: solid 1px #111111;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    text-decoration: none;
    color: #111111;
    width: 300px;
    height: 48px;
    max-width: 100%;
    display: block;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.btn:hover {
    color: #111111;
}

.resend-text {
    font-size: 20px;
    line-height: 25.2px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 52px;
}

.resend-text a {
    color: #111111;
}

.alternative {
    font-weight: 500;
    font-size: 20px;
    line-height: 25.2px;
    text-align: center;
    max-width: 785px;
    margin: auto;
    margin-bottom: 65px;
}

small {
    font-size: 12px;
    font-weight: 500;
    margin: auto;
    display: block;
    text-align: center;
}

.slogan.mobile {
    display: none;
}

#fixed-sign {
    display: none;
}

.mobile-signs {
    display: none;
}

.lang-selector {
    position: absolute;
    top: 15px;
    right: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 130px;
}

.lang {
    display: block;
}

.lang svg {
    width: 30px;
    height: 30px;
}

.lang + .dropdown-menu {
    left: -100% !important;
    width: fit-content !important;
    min-width: fit-content !important;
    padding: 0 !important;
    background: #111;
    border: 1px solid #111;
    border-radius: 0;
    position: initial !important;;
    top: initial !important;;
    left: initial !important;;
    transform: initial !important;;
    margin-top: 10px;
}

.lang + .dropdown-menu .dropdown-item {
    padding: 10px;
    text-align: center;
    color: white;
}

.lang + .dropdown-menu .dropdown-item:hover, .lang + .dropdown-menu .dropdown-item:active {
    color: #111;
    background: #fff;
    background-color: #111;
}

.lang + .dropdown-menu a:first-child {
    border: none;
    border-bottom: 1px solid #fff;
}

@media (max-width: 975px) {
    .column-1 {
        width: 100%;
    }

    .column-1 + .col {
        padding-left: calc(var(--bs-gutter-x)/ 2);
    }

    body {
        padding-top: 35px;
        padding-bottom: 35px;
        background: #fff;
    }

    body .container {
        padding-left: 35px;
        padding-right: 35px;
    }

    .main-title {
        font-size: 16px;
        letter-spacing: initial;
        font-weight: bold;
        margin-bottom: 35px !important;
    }

    .primary {
        font-size: 24px;
        text-align: left;
    }

    .primary br {
        display: none;
    }

    .main-title span {
        font-size: 40px;
    }
    
    .alternative {
        font-size: 14px;
        margin-bottom: 40px;
    }

    .slogan {
        display: none;
    }

    .slogan.mobile {
        margin-top: -35px;
        display: block;
        margin-bottom: 30px;
    }

    h3 {
        font-size: 16px;
        line-height: 21.64px;
        font-weight: 700;
    }

    p {
        font-size: 16px;
        line-height: 21.64px;
    }

    .signs {
        display: none;
    }

    .subscribe {
        margin-top: 30px;
    }

    #sign-btn + .subscribe div:first-child {
        display: none;
    }

    .main-title.last {
        font-size: 19px;
        margin-bottom: 35px;
    }

    .thanks-text {
        font-size: 14px;
        line-height: 17.16px;
        margin-bottom: 35px;
    }

    .thanks-text br {
        display: none;
    }

    #fixed-sign {
        display: block;
        padding-top: 16px;
        padding-bottom: 16px;
        background-color: #F1F1F1;
        position: fixed;
        bottom: 0;
    }

    #fixed-sign .sign-btn {
        margin-bottom: 0;
    }

    #fixed-sign.hide {
        visibility: hidden;
    }

    .mobile-signs {
        display: block;
    }

    .lang-selector {
        right: 0;
    }

    .lang svg {
        width: 25px;
        height: 25px;
    }

    .lang-selector.sign-page path {
        fill: white;
    }
}
